.button-add {
  color: white;
  background-color: rgb(70, 70, 248);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 130px;
  align-self: flex-start;
  margin-left: 40px;

  span {
    margin-left: 10px;
  }
}

.button-info {
  color: white;
  background-color: lightsalmon;
  border: none;
  border-radius: 50px;
  font-size: 26px;
  padding: 10px;
  width: 50px;
  align-self: flex-start;
  margin-left: 2em;
}

.button-close {
  color: white;
  background-color: rgb(234, 70, 66);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 40px;
  align-self: flex-start;
  // margin-left: 40px;
}
.button-upload {
  color: white;
  background-color: rgb(70, 70, 248);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 130px;
  text-align: center;
  margin-top: 20px;
}

.button-delete-file {
  color: white;
  background-color: rgb(234, 70, 66);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  width: 40px;
  // margin: auto;
  margin-left: 20px;
  // align-self: flex-start;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  // box-shadow: 1px 2px grey;
  // background-color: rgb(75, 75, 245);
  box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
