.dashboard {
  width: 95%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  justify-content: flex-start;

  &-chart-container {
    width: 600px;
    // height: 500px;
  }
  &-transactions {
    margin-left: 40px;
    display: flex;
    width: 100%;
    // flex-direction: column;
    // justify-content: center;

    tspan {
      font-size: 20px !important;
    }

    &-first {
      display: flex;
      flex-direction: column;
      align-items: center;
      // line {
      //   display: none;
      // }
    }

    &-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        // width: 800px !important;
        overflow: visible;
      }
      // line {
      //   display: none;
      // }
      //width: 80%;
      // justify-content: flex-start;
    }
  }

  // tspan {
  //   font-size: 30px;
  // }
}
